<html><head></head>
<body>
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet" type="text/css">
        <script type="text/javascript" src="{{url_for('static', filename='js/approval.js')}}"> </script>
    <div class = "table" id = "table">
        <table style="table-layout: fixed; border: 2px solid; border-collapse: collapse; width:100%">
                <colgroup>
                    <col style="width: 70px">
                    <col style="width: 80px">
                    <col style="width: 100px">
                    <col style="width: 60px">
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <col style="width: 50px">
                    <col style="width: 50px">
                    <col style="width: 50px">
                    <col style="width: 100px">
                    <col style="width: 100px">
                    <col style="width:100px">
                    <col style="width:100px">
                    <col style="width:100px">
                    </colgroup>
                    <thead>
                      <tr>
                        <th rowspan="2">Loading<br>particles</th>
                        <th rowspan="2">Mask<br>Type</th>
                        <th rowspan="2">Mask<br>Name</th>
                        <th colspan="6" style="border-right:3px solid black; border-left: 3px solid black">Single-pass filtration efficiency</th>
                        <th colspan="6" style="border-right:3px solid black; border-left: 3px solid black">Error bar</th>
                        <th rowspan="2">ΔP (pa)</th>
                        <th rowspan="2">vair (m/s)</th>
                        <th rowspan="2">T (°C)</th>
                        <th rowspan="2">RH (%)</th>
                        <th rowspan="2">Testing date (YYYY.MM.DD)</th>
                        <th rowspan="2">City</th>
                        <th rowspan="2">Name</th>
                        <th rowspan="2">Approval</th>
                        <th rowspan="2">Delete</th> 
                      </tr>
                      <tr>
                        <td>0.3μm</td>
                        <td>0.5<span style="font-weight:400;font-style:normal">μm</span></td>
                        <td>1<span style="font-weight:400;font-style:normal">μm</span></td>
                        <td>3<span style="font-weight:400;font-style:normal">μm</span></td>
                        <td>5<span style="font-weight:400;font-style:normal">μm</span></td>
                        <td style=" border-right: 3px solid black;">10<span style="font-weight:400;font-style:normal">μm</span></td>
                        <td>0.3<span style="font-weight:400;font-style:normal">μm</span></td>
                        <td>0.5<span style="font-weight:400;font-style:normal">μm</span></td>
                        <td>1<span style="font-weight:400;font-style:normal">μm</span></td>
                        <td>3<span style="font-weight:400;font-style:normal">μm</span></td>
                        <td>5<span style="font-weight:400;font-style:normal">μm</span></td>
                        <td>10<span style="font-weight:400;font-style:normal">μm</span></td>
                      </tr>
            <tbody>
            </tbody>
        </table>
    </div>
</body>
</html>
